/* template1.css */

/* Set a nice background color if you don't want to use an image */
body {
    background-color: #131212;
}

/* Add styles for the certificate container */
.certificate {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* background-image: url("{% static 'background.jpg' %}"); Use the background image */
    background-size: cover; /* Scale the image to cover the entire container */
    background-position: center center; /* Center the image horizontally and vertically */
    color: #ffffff; /* Set the text color to white to make it visible on the background */
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
}

p {
    font-size: 18px;
    margin: 5px 0;
}
